/* General Styles */
html, body, #root {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cart Styles */
.cart {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart h2 {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cart-item {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cart-item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-right: 20px;
}

.item-info {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.item-info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

.cart-item button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: auto;
    width: 10%;
    transition: background-color 0.3s ease;
}

.cart-item button:hover {
    background-color: #e74c3c;
}

button {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cart-actions {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the buttons */
    margin-top: 20px; /* Add spacing above the buttons */
}

.cart-actions button {
    background-color: white;
    border-color: black;
    color: black;
    margin-top: 1rem;
    padding: 10px;
}

.cart-actions button:hover {
    background-color: black; /* Darker shade on hover */
    border-color: black;
    color: white;
}

.cart-actions button:disabled {
    border-color: #ccc;
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}


/* Confirmation Popup */
.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.popup-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.popup-content button {
    margin: 5px;
    padding: 8px 20px;
    background-color: white;
    border-color: black;
    color: black;
}

.popup-content button:hover {
  background-color: black; /* Darker shade on hover */
  border-color: black;
  color: white;
}