<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.app.demo1.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>com.app.demo1.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/view-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DecreaseCartItemServlet</servlet-name>
        <servlet-class>com.app.demo1.DecreaseCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DecreaseCartItemServlet</servlet-name>
        <url-pattern>/decrease-cart-item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.app.demo1.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
</web-app>
